{% extends "base.html" %}
{% block content %}
    <main class="main main--about">
        <p>Hi! I'm Shanmuga priya.
            I'm delighted to share my journey of transformation with you.
            An agriculture graduate who ventured into the tech world, 
            I'm a web developer with a unique journey of growth and transformation.
            </p>

        <p>
            Proficient in Python Flask and MongoDB,
             I craft and deploy web applications that seamlessly blend functionality with innovation. 
             My career shift highlights my adaptability and unwavering commitment to learning,
            a trait that fuels my drive to excel in every project.
        </p>
        <p>
            I'm excited about the boundless possibilities in the tech field and eager 
            to collaborate on projects that make a lasting impact.
            If you're ready to embark on a journey of innovation together, 
            let's connect and create something exceptional.
        </p>
    </main>
{% endblock %}