{% extends "base.html" %}
{% block content %}
    <main class="main main--contact">
        <dl>
            <div class="contact">
                <img class="icon"  src="\static\img\email.png">
                <dd class="contact__details">
                    <a class="contact__link" href="mailto:shanstark20@gmail.com">
                        shanmugapriya@gmail.com
                    </a>
                </dd>
            </div>
            <div class="contact">
                <img  class="icon" src="\static\img\github.png">
                <dd class="contact__details">
                    <a class="contact__link" href="https://github.com/shanmuga-priya-tech">
                        @shanmugapriya
                    </a>
                </dd>
            </div>
            <div class="contact">
                <img class="icon"  src="\static\img\linkdn.png">
                <dd class="contact__details">
                    <a class="contact__link" href="https://www.linkedin.com/in/shanmuga-priya-292730284/">
                        @shanmugapriya
                    </a>
                </dd>
            </div>
            <div class="contact">
                <img class="icon" src="\static\img\medium.png">
                <dd class="contact__details">
                    <a class="contact__link" href="https://medium.com/@priyaeswaran">
                        @shanmugapriya
                    </a>
                </dd>
            </div>
        </dl>
    </main>
{% endblock %}
